<nav class="navbar navbar-expand-lg bg-white shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png"
        alt="Bootstrap" width="30" height="30">
      User Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <button class="btn btn-outline-success" (click)="open(addUserModal)">Add User</button>
    </div>
  </div>
</nav>
<div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-3" *ngFor="let user of userList">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236__340.png" alt="Avatar"
            style="width:100%">
          <div class="container">
            <h4><b> {{user.name}}</b></h4>
            <p>{{user.email}}</p>
           
            <div class="collapse navbar-collapse d-flex  m-2" id="navbarSupportedContent">
              <button class="btn btn-outline-success justify-content-start m-3" (click)="open(userDetails, user)">more</button>
              
              <button class="btn btn-outline-success justify-content-end m-3" (click)="open(content, user)">Delete</button>
            </div>
             <!-- <div class="collapse navbar-collapse d-flex justify-content-end m-2" id="navbarSupportedContent">
            </div> -->
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Delete Model -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Warning !</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <span>you want to delete user</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteUser()">yes</button>
  </div>
</ng-template>


<!-- Add User Model -->
<ng-template #addUserModal let-modal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New User</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="mt-4" [formGroup]="userForm" (ngSubmit)="addUser(userForm)">
      <div class="form-group">
        <label>Name<span class="text-danger font_size17">*</span></label>
        <input type="text" class="form-control mb-0" name="name" formControlName="name" placeholder="Name" />
        <span class="text-danger"
          *ngIf="(userFormControl.name.touched || submitted) && userFormControl.name.errors?.required">
          name is required.
        </span>
      </div>
      <div class="form-group">
        <label>Your address<span class="text-danger font_size17">*</span></label>
        <input type="text" class="form-control mb-0" name="last_name" formControlName="address"
          placeholder="Your Last Name" />
        <span class="text-danger"
          *ngIf="(userFormControl.address.touched || submitted) && userFormControl.address.errors?.required">
          Address is required.
        </span>
      </div>
      <div class="form-group">
        <label>Your Email<span class="text-danger font_size17">*</span></label>
        <input type="email" class="form-control mb-0" name="email" formControlName="email"
          placeholder="Your Last Name" />
        <span class="text-danger"
          *ngIf="(userFormControl.email.touched || submitted) && userFormControl.email.errors?.required">
          email is required.
        </span>
        <span class="text-danger" *ngIf="email?.invalid && email?.touched">Email must be a valid email address</span>
      </div>
      <div class="form-group">
        <label>Your Phone<span class="text-danger font_size17">*</span></label>
        <input type="text" class="form-control mb-0" name="phone" formControlName="phone"
          placeholder="Your Last Name" />
        <span class="text-danger"
          *ngIf="(userFormControl.phone.touched || submitted) && userFormControl.phone.errors?.required">
          phone is required.
        </span>
        <span class="text-danger" *ngIf="phone?.invalid && phone?.touched">Phone must be a valid phone number</span>
      </div>

      <div class="modal-footer mt-5">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- User  Model -->
<ng-template #userDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <span>Name: </span> {{selectedUserIndex.name}}
    <br/>
    <span>Email: </span> {{selectedUserIndex.name}}
    <br/>
    <span>phone Number: </span> {{selectedUserIndex.phone}}
    <br/>
    <span>Address: </span> {{selectedUserIndex.address}}
    <br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close click')">Close</button>
  </div>
</ng-template>