
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.shadow {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05),0 2px 4px 0 rgba(0,0,0,0.1);
}